/* Color variations */
:root {
    --main: #A8BBA3;
    --text: black;
    --bg: #DBDBDB;
    --accent: #E7EFC7;
    --shadow: #313f32;
    --modal-bg: rgb(168, 187, 163, .9);
}

/* mobile first styling */

/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg);
    font-family: Quantico, sans-serif;
}

/* header/nav styles */
nav {
    background-image: url('../project_assets/nav-sign.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:transparent;
    width: 100vw;
    height: 200px;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
    font-family: Caveat, sans-serif;
}
nav ul li {
    list-style-type: none;
    border: .25px solid;
    border-radius: 25px;
    background-color: var(--main);
    padding: .5em;
}
nav a {
    text-decoration: none;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img, #footer-btn img {
    width: 1rem;
    padding-right: 3px;
    margin: auto;
}
nav a span {
    display: none;
}

/* main content */
main {
    background-color: var(--main);
    padding: .5rem;
    border-radius: 25px;
    margin: 0;
    min-height: 100vh;
}
.hero {
    background: var(--accent);
    margin: 2rem 1rem;
    padding: .5rem 2rem;
    border-radius: 12px;
}
.hero h1 {
    text-align: center;
    margin: auto;
    font-family: Caveat, sans-serif;
}
h2 {
    margin: auto;
    margin-bottom: 2%;
}
#project-sect {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* project card styling */
.project-flex-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: 2%;
    max-width: 900px;
}
.project-card {
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--accent);
    text-align: center;
    text-decoration: none;
    color: var(--text);
    flex: 0 0 100%; /* they don't shrink or grow and are always 90% of their container */
    box-shadow: 3px 3px 10px var(--shadow);
}
.project-card:hover {
    transform: scale(102%);
}
.project-card img {
    width: 100%;
}
.project-card h3 {
    padding: 1rem;
    border-top: dashed 3px var(--main);
}

/* about page styles */
#pfp {
    width: 100%;
    border-radius: 50%;
    border: dashed 3px var(--accent);
}
#pfp-flex {
    display: flex;
    justify-content: center;
}
#connect-contain {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    padding-left: 1em;
}
.connect-link {
    text-decoration: none;
    background-color: var(--accent);
    color: var(--text);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 3px 5px var(--shadow);
    width: 15em;
}
.connect-link:hover {
    transform: scale(1.25);
}

/* project page styles */
.project-hero-img, .project-pg-full {
    width: 100%;
    border-radius: 15px;
}
.full-look-contain {
    display: flex;
    justify-content: flex-center;
    padding: 1.5em;
}
.thumbnail {
  max-width: 200px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 3px 3px 10px var(--shadow);
}
.thumbnail-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* modal overlay */
.lightbox {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg);
}
.lightbox-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
}
#caption {
  margin: 15px auto;
  text-align: center;
  color: var(--text);
  font-size: 1rem;
}
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: var(--text);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: var(--accent);
}

/* footer styles */
footer {
    text-align: center;
    margin-top: 6vh;
}
#footer-div {
    background-color: var(--accent);
    margin-bottom: 0;
    padding: 2%;
}
#footer-btn-contain {
    display: flex;
    justify-content: center;
    align-content: center;
}
#footer-btn-contain a {
    width: 30vw;
}
#footer-btn {
    margin-bottom: 2%;
    background-image: url(../project_assets/nav-sign.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 6px;
    padding: 8px;
    font-family: Caveat, sans-serif;
}

/* media queries */
@media (min-width: 400px) {
    nav a span {
        display: inline;
    }
    #pfp {
        max-width: 390px;
    }
}
@media (min-width: 600px) {
    main {
        margin: 5%;
    }
}
@media (min-width: 1000px) {
    main {
        max-width: 1000px;
        margin: auto;
    }
}