/* Color variations */
:root {
    --main: #A8BBA3;
    --text: black;
    --bg: #DBDBDB;
    --accent: #E7EFC7;
}

/* mobile first styling */

/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg);
    font-family: Quantico, sans-serif;
}

/* header/nav styles */
nav {
    background-image: url('../project_assets/nav-sign.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:transparent;
    width: 100vw;
    height: 200px;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
    font-family: Caveat, sans-serif;
}
nav ul li {
    list-style-type: none;
    border: .25px solid;
    border-radius: 25px;
    background-color: var(--main);
    padding: .5em;
}
nav a {
    text-decoration: none;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img, #footer-btn img {
    width: 1rem;
    padding-right: 3px;
    margin: auto;
}
nav a span {
    display: none;
}

/* main content */
main {
    background-color: var(--main);
    padding: .5rem;
    border-radius: 25px;
    margin: 0;
    min-height: 100vh;
}
.hero {
    background: var(--accent);
    margin: 2rem 1rem;
    padding: .5rem 2rem;
    border-radius: 12px;
}
.hero h1 {
    text-align: center;
    margin: auto;
    font-family: Caveat, sans-serif;
}
h2 {
    margin: auto;
    text-align: center;
}

/* footer styles */
footer {
    text-align: center;
    margin-top: 6vh;
}
#footer-div {
    background-color: var(--accent);
    margin-bottom: 0;
    padding: 2%;
}
#footer-btn-contain {
    display: flex;
    justify-content: center;
    align-content: center;
}
#footer-btn-contain a {
    width: 30vw;
}
#footer-btn {
    margin-bottom: 2%;
    background-image: url(../project_assets/nav-sign.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 6px;
    padding: 8px;
    font-family: Caveat, sans-serif;
}


/* media queries */
@media (min-width: 400px) {
    nav a span {
        display: inline;
    }
}
@media (min-width: 600px) {
    main {
        margin: 5%;
    }
}
@media (min-width: 1000px) {
    main {
        max-width: 1000px;
        margin: auto;
    }
}